body {
    background-color: brown;
    margin: 0;
    padding: 0;
    text-align: center;
}

.khaanad {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    transform: translateY(50%);
}
.img-contaner img {
    margin: auto;
    width: 100%;
}
.img-contaner {
}
p{
    font-size: 30px;
    padding: 15px;
}

h1 {
    font-size: 44px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
}

h2 {
    font-size: 30px;
}
hr {
    width: 90%;
}